/.gradle
/.idea
/app/build
/datetimepicker/build
/gradle
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/gradlew
/gradlew.bat
/build
/captures
/DeskClock.iml
/datetimepicker/datetimepicker.iml
/app/app.iml
/gradle.properties
